.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    width: 25%;
}
.logos {
    width: 65%;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.menum {
    display: flex;
    gap: 20px;
}
.active_menu {
    display: block;
}