.container {
    margin: 80px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: flex-end;
}
.myPictur {
    width: 80%;
    border-radius: 50%;
}
.myPictur img {
    width: 100%;
}
.text {
    color: white;
}
.text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.text h3{
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}
.text p{
    font-size: 20px;
}

.download {
    margin: 25px 0;
    padding: 15px;
    border: 2px dashed white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.download:hover {
    border: 2px solid white;
    background-color: rgb(63, 63, 63);
}